/*-----------------------font face-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
ul{
	list-style: none;
	padding:0;
}

a {
    color: inherit; 
    text-decoration: none;
}

.cursor {
	cursor: pointer;
}

/*-----------------------html and body element-----------------------*/
html, body {
	width: 100%;
	height: 100%;
}

/*-----------------------header-----------------------*/
header {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/*-----------------------header-left-----------------------*/
.header-left {
	margin-top: 26px;
	margin-left: 60px;
	margin-bottom: 14px;
	display: flex;
	align-items: center;
}

.btn_logo01 {
  width: 258px;
  height: 48px;
  object-fit: contain;
}

.menu-but {
  width: 100px;
  height: 28px;
  font-family: PingFangTC;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 30px;
  text-align: center;
  color: #8b572a;
}

.menu-but2 {
	width: 100px;
  height: 28px;
  font-family: PingFangTC;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 30px;
  text-align: left;
  color: #3f3a3a;

}

#menu {
	display: flex;
	margin-left: 10%;
}

.menu-separ {
	width: 34px;
  height: 28px;
  font-family: PingFangTC;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 30px;
  text-align: center;
  color: #3f3a3a;
}

#menu ul {
	display: flex;
	list-style: none;
}

#menu ul li {
	flex-direction: row;
}

/*-----------------------header-right-----------------------*/
.header-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-basis: fill;
	margin-right: 54px;
}

.search-icon2 {
	display: none;
}

.search-icon3 {
	display: none;
}

.header-right-input {
	display: flex;
	flex-direction: column;
	position: relative;
}

.input[type=text] {
	padding-left: 20px;
	font-size: 1.2em;
}

.header-right-input .input {
	margin-top: 28px;
	width: 214px;
  height: 40px;
  border: solid 1px #979797;
  border-radius: 30px;
}

.input {
	z-index: 1;
}

.search-icon {
	position: absolute;
	top: 25%;
	right: 2.5%;
	z-index: 2;
}

.cart {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: auto 30px;
  margin-right: 15px;
	position: relative;
	top: 0%;
}

.cart-num {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0%;
	top: 5%;
}

.btn_shopping-cart01_add {
  width: 44px;
  height: 44px;
  object-fit: contain;
  /*margin: auto 42px;*/
}

.btn_member01_normal {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.btn_member01_normal {
	margin-top: 28px;
}

/*-----------------------banner-----------------------*/
.banner {
	display: flex;
	flex-direction: column;
  /*height: 540px;*/
  margin-bottom: 40px;
  vertical-align: top;
	position: relative;
	overflow: hidden;
}

.banner-bar {
	width: 100%;
  height: 40px;
  background-color: #313538;
  z-index: 1;
}

.mobile-menu {
	display: none;
}

.banner-img {
	padding-bottom: 27%;
	/*background: url('../img/visual-0.jpg');*/
	width: 1259px;
  height: 393px;
	background-color: white; 
	background-position: 50% 50%;
	background-size: cover;
	/*background: no-repeat;*/
}

.banner-img {
	width: 100%;
	max-width: 100%;
	height: 40%;
  overflow: hidden;
  z-index: 1;
  margin: 0;
	position: relative;
}

.banner-img img {
	width: 100%;
  height: auto;
	max-width: 100%;
	max-height: 100%;
}

.hipster-saying {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-right: 0;
	position: absolute;
	top: 20%;
	left: 15%;
	line-height: 50px;
	font-size: x-large;
}

.key-visual {
	position: absolute;
}

.line1-3 {
	height: 50px;
  font-family: PingFangTC;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.9;
  text-align: left;
  color: #070707;
  margin: auto 0;
}

.line4 {
	font-size: 20px;
  line-height: 2.85;
  margin: auto 0;
}

.circle-cursor {
	position: absolute;
	top: 80%;
	z-index: 3;
	width: 100%;
}

.circle-cursor-now {
	width: 5%;
  height: 5%;
  color: #8b572a;
  margin: 0 .5%;
}

.circle-cursor-else {
	width: 5%;
  height: 5%;
  opacity: 0.4;
  color: #ffffff;
  margin: 0 .5%;
}

/*-----------------------product-area-----------------------*/
.product-area {
	width: 100%;
	margin-bottom: 96px;
	/*border: 2px solid black;*/
}

.product-area-box {
	max-width: 1280px;
  flex-wrap: wrap;
	/*border: 2px solid red;*/
}

.product {
	max-width: 360px;
	max-height: 600px;
  width: 100%;
  height: 100%;
  margin: 30px;
  /*border: 2px solid coral;*/
}

.product-img-style {
		max-width: 360px;
		max-height: 480px;
	}

.color-block-style {
	display: inline-block;
	width: 24px;
  height: 24px;
  margin-top: 20px;
	margin-right: 2.5%;
}

.back-color-purple {
  background-color: #9baac2;
}

.product-name-style {
	width: 216px;
  height: 24px;
  font-family: NotoSansCJKtc;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: left;
  color: #3f3a3a;
}

.product-price-style {
	width: 111px;
  height: 24px;
  font-family: NotoSansCJKtc;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: left;
  color: #3f3a3a;
}

/*-----------------------footer-----------------------*/
.footer {
	width: 100%;
  min-height: 115px;
  background-color: #313538;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 1200px;
}

.footer-menu-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px auto;
}

.footer-menu-p1, .footer-menu-p2 {
	display: flex;
	flex-direction: row;
}

.footer-menu-but {
	width: 130px;
  height: 22px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #c49871;
  padding: 0 20px;
}

.footer-menu-but2 {
	width: 130px;
  height: 22px;
  font-family: PingFangTC;
  font-size: 16px;
  text-align: center;
  color: #f5f5f5;
  border-left: 1px solid #f5f5f5;
  padding: 0 20px;
}

#footer-menu-space {
	display: none;
}

.footer-icons {
	display: flex;
	flex-direction: row;
	margin: 5px auto;
}

.line01, .twitter01 {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 10px;
}

.facebook01 {
	width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 10px;
}

.copyright {
  height: 17px;
  font-family: PingFangTC;
  font-size: 12px;
  text-align: left;
  color: #828282;
  margin: 5px 0;
	align-self: center;
}

.float-bar {
	display: none;
}

/*-----------------------flexbox-----------------------*/
.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-center {
	justify-content: center;
}

.flex-col-center {
	align-items: center;
}

.flex-align {
	align-items: flex-start;
}

.flex-space-between {
	justify-content: space-between;
}

/*-----------------------stepping-----------------------*/

.stepping {
	display: none;
}


/* ================================= 
  Key Visuals Effects
==================================== */

.in {
	z-index: 2;
	opacity: 1;
	transition: left 1s ease-in-out,
  						opacity 1s ease-in-out;
}

.out {
	z-index: 2;
	opacity: 0;
	transition: left 1s ease-in-out,
  						opacity 1s ease-in-out;
}

.back {
	z-index: 2;
	opacity: 0;
}


/* ================================= 
  Media Queries
==================================== */

/* ---- Float clearfix ---- */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

@media (max-width: 1400px) {
	.hipster-saying {
		width: 30%;
		top: 15%;
		left: 10%;
	}

	.line1-3 {
		height: 50px;
	  font-size: 20px;
	}

	.line4 {
		font-size: 15px;
	  line-height: 2.85;
	}
	
}

@media (max-width: 1200px) {
	#menu {
		display: none;
	}
	
	.search-icon {
		top: 28%;
	}
	
	.mobile-menu {
		display: flex;
		width: 100%;
		margin-bottom: 1%;
	}
	
	.mobile-menu ul {
		display: flex;
		list-style: none;
		width: 100%;
	}

	.mobile-menu ul li {
		flex-direction: row;
		width: 100%;
	}

	.menu-but {
		width: 32px;
	  height: 22px;
	  font-family: PingFangTC;
	  font-size: 2.5vh;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ffffff;
	  margin-left: 5%;
	  margin-right: 5%;
	}

	.menu-but2 {
		width: 32px;
	  height: 22px;
	  font-family: PingFangTC;
	  font-size: 2.5vh;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #828282;
	  margin-left: 5%;
		margin-right: 5%;
	}

	.menu-separ {
		width: 1px;
	  height: 22px;
	  font-family: PingFangTC;
	  font-size: 2.5vh;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0;
	  text-align: center;
	  color: #828282;
	  margin: 0;
	}

	.banner-bar {
	  height: 100%;
	  background-color: #313538;
	  padding-bottom: 1%;
	}

}

@media (max-width: 1000px) {
	.hipster-saying {
		width: 50%;
		top: 10%;
		left: 8%;
		line-height: 38px;
	}

	.line1-3 {
		height: 30px;
	  font-size: 10px;
	}

	.line4 {
		font-size: 8px;
	  line-height: 2.85;
	}
}

@media (max-width: 840px) {
	.banner-img {
		padding-bottom: 50%;
	}

	.product-area-box {
		/*border: 2px solid red;*/
	}

	.product {
		width: 40%;
		margin: 1%;
	  /*border: 2px solid coral;*/
	}

	.product-img {
		width: 100%;
	}

	.product-img-style {
		width: 100%;
		height: 25%;
	}

	.product-color {
		width: 100%;
	}

	.product-name-style, .product-price-style {
		width: 100%;
	  font-size: 2.5vw;
	}
}

@media (max-width: 800px) {
	.header-right {
		display: none;
		margin-right: 5px;
	}

	.header-left {
		margin-left: 5%;
		display: flex;
		justify-content: center;
	}

	.search-icon2 {
		display: flex;
		position: absolute;
		/*top: 2.5%;*/
		right: 2%;
	}

	.stepping {
		display: block;
		height: 59px;
	}

	.float-bar {
		display: flex;
		flex-direction: row;
		position: fixed;
		width: 100%;
  	height: 60px;
		bottom: 0;
		background-color: #313538;
	}

	.float-bar ul {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		list-style: none;
		width: 100%;
	}

	.float-bar ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
	  height: 22px;
	  font-family: PingFangTC;
	  font-size: 16px;
	  text-align: center;
	  color: #ffffff;
	  width: 50%;
	  vertical-align: middle;
	  margin-bottom: 10px;
	}

	.cart-num2 {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 1%;
		top: 5%;
	}

	.float-cart {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
	  font-family: PingFangTC;
	  font-size: 16px;
	  text-align: center;
	  color: #ffffff;
	  vertical-align: middle;
	}

	.li-right {
		border-left: 1px solid #828282;
	}

	.icon-shopping-cart, .icon-member {
		width: 30px;
  	height: 30px;
  	object-fit: contain;
	}

}

@media (max-width: 700px) {
	.footer-menu-p1, .footer-menu-p2 {
		flex-direction: column;
	}

	.footer-menu-p2 {
		align-self: flex-start;
	}

	.footer-menu-icons {
		margin: 10px auto;
		width: 100%;
	}

	.footer-menu-but, .footer-menu-but2 {
		margin: 10px auto;
	}

	.footer-menu-but2 {
	  border-left: 0;
	}
}

@media (max-width: 650px) {
	.menu-but, .menu-but2, .menu-separ {
		font-size: 2vh;
	}
	
	.color-block-style {
		width: 18px;
	  height: 18px;
	  margin-top: 4.5%;
	}

	.hipster-saying {
		width: 50%;
		line-height: 38px;
		font-size: large;
	}

}

@media (max-width: 520px) {
	.header-right {
		margin-bottom: 5%;
		margin-right: 8%;
		margin-left: 5%; 
	}
	
	.header-right-input .input {
		margin-top: .5%;
	}

	.search-icon {
		top: 0;
	}

	.menu-but, .menu-but2, .menu-separ {
		font-size: 6vw;
	}

}

@media (max-width: 480px) {
	.hipster-saying {
		line-height: 25px;
		font-size: medium;
	}
}

@media (max-width: 360px) {
	.header-right {
		display: none;
	}
	
	.header-right-input {
		left: 23%;
	}

	.btn_logo01 {
	  width: 40%;
	  margin-right: -8%;
	  position: relative;
	  left: 30%;
	}

	.search-icon2 {
		display: none;

	}

	.search-icon3 {
		display: flex;
		position: absolute;
		right: 1%;
	}

	.header-left {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-basis: fill;
	}

	.mobile-menu {
		margin-bottom: 0;
	}

	.menu-but, .menu-but2, .menu-separ {
		width: 100%;
		font-size: 25px;
	}

	.menu-but, .menu-but2 {
		margin-left: 2%;
		margin-right: 2%;
	}

	.banner {
		margin-bottom: 40px;
	}

	.banner-img {
		padding-bottom: 80%;
	}

	.hipster-saying {
		line-height: 20px;
		font-size: small;
	}

	.product {
		width: 45%;
		margin-bottom: 5%;
	}

	.color-block-style {
		width: 12px;
	  height: 12px;
	  margin-top: 5%;
	}

	.product-name-style, .product-price-style {
		width: 90%;
		height: 95%;
	  font-size: 2.2vw;
	  margin-top: 5%;
	  margin-bottom: .5%;
	}

	.product-price-style {
	  margin-top: 3%;
	  margin-bottom: 2%;
	}

	.stepping {
		display: block;
		height: 59px;
	}

	.float-bar {
		display: flex;
		flex-direction: row;
		position: fixed;
		width: 100%;
  	height: 60px;
		bottom: 0;
		background-color: #313538;
	}

	.float-bar ul {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		list-style: none;
		width: 100%;
	}

	.float-bar ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
	  height: 22px;
	  font-family: PingFangTC;
	  font-size: 16px;
	  text-align: center;
	  color: #ffffff;
	  width: 50%;
	  vertical-align: middle;
	  margin-bottom: 10px;
	}

	.li-right {
		border-left: 1px solid #828282;
	}

	.icon-shopping-cart, .icon-member {
		width: 30px;
  	height: 30px;
  	object-fit: contain;
	}
}
