button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

:focus {
    outline: 0;
}

.cart {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: auto 30px;
  margin-right: 15px;
	position: relative;
	top: 0%;
}

.cart-num {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0%;
	top: 5%;
}

.margin-top-2 {
	margin-top: 2%;
}

.product-area-80 {
	width: 85%;
}

.product-area-80-box {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.product-p1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 50px;
}

.product-p1-img {
	max-width: 560px;
	max-height: 746.7px;
	margin-right: 2%;
}

.product-p1-img-style {
	width: 100%;
  height: 100%;
}

.product-p1-detail {
	width: 50%;
	max-width: 400px;
	margin-left: 2%;
	margin-right: 2%;
}

.product-p1-title {
	/*width: 269px;*/
  /*height: 38px;*/
  font-size: 32px;
  letter-spacing: 6.4px;
  text-align: left;
  color: #3f3a3a;
  margin-bottom: 16px;
}

.product-p1-id {
	/*width: 121px;*/
  /*height: 24px;*/
  font-size: 20px;
  letter-spacing: 4px;
  text-align: left;
  color: #bababa;
  margin-bottom: 40px;
}

.product-p1-price {
	width: 124px;
  height: 36px;
  font-size: 30px;
  text-align: left;
  color: #3f3a3a;
  margin-bottom: 20px;
}

.product-p1-separ {
	width: 100%;
  height: 1px;
  background-color: #3f3a3a;
  margin-bottom: 30px;
}

.product-p1-color {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}

.color-title {
	width: 72px;
  height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: left;
  color: #3f3a3a;
}

.color-block {
	width: 36px;
	height: 36px;
  /*background-color: #8b572a;*/
  border: solid #fff 6px;
  margin: auto 10px;
  margin-left: 20px;
  box-shadow: 2px 2px 3px #888888;
}

.color-block-selector {
	outline: solid 1px #979797;
}

.product-p1-size {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}

.size-title {
	width: 72px;
  height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: left;
  color: #3f3a3a;
}

.size-circle-style {
	width: 34px;
  height: 34px;
  font-size: 20px;
  background-color: #ececec;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
  margin-left: 20px;
}

.size-circle-selecter {
	background-color: #000000;
	color: #fff;
}

.product-p1-quantity {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}

.quantity-title {
	width: 72px;
  height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: left;
  color: #3f3a3a;
}

.quantity-bar {
	width: 200px;
	min-width: 0;
  height: 44px;
  margin-left: 20px;
	position: relative;
}

.quantity-bar-minus {
	cursor: pointer;
	position: absolute;
	top: 30%;
	left: 5%;
}

.quantity-bar-plus {
	cursor: pointer;
	position: absolute;
	top: 30%;
	right: 5%;
}

/*.quantity-bar-input {
	width: 160px;
	min-width: 0;
  height: 44px;
  border: solid 1px #979797;
  margin-left: 25px;
}*/

.quantity-bar-span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
  height: 44px;
  border: solid 1px #979797;
}

input[type=number] {
	padding-left: 40%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.product-p1-addCart {
	width: 100%;
  height: 60px;
  background-color: #000000;
  border: solid 1px #979797;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: center;
	line-height: 60px;
  color: #ffffff;
}

.product-p1-material {

}

.product-p1-material-content {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #3f3a3a;
}

.product-p2 {
	width: 100%;
}

.product-p2-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 28px;
}

.product-p2-title-content {
	width: 96px;
  height: 30px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: left;
  color: #8b572a;
	margin-right: 2%;
}

.product-p2-title-separ {
	width: 83%;
  height: 1px;
  background-color: #3f3a3a;
}

.product-p2-content1 {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #3f3a3a;
  margin-bottom: 30px;
}

.product-p2-img1 {
	width: 100%;
	margin-bottom: 30px;
}

.product-p2-img1-style {
	width: 100%;
  height: 100%;
}

.product-p2-content2 {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #3f3a3a;
  margin-bottom: 30px;
}

.product-p2-img2 {
	width: 100%;
  height: 100%;
	margin-bottom: 30px;
}

.product-p2-img2-style {
	width: 100%;
  /*height: 100%;*/
}


/* ================================= 
  Media Queries
==================================== */

/* ---- Float clearfix ---- */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


@media (max-width: 1550px) {
	.product-area-80-box {
		width: 90%;
	}
}

@media (max-width: 1024px) {
	.product-area-80-box {
		width: 100%;
	}
}

@media (max-width: 950px) {
	input[type=number] {
	padding-left: 50%;
}

	.product-area-80 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.product-area-80-box {
		width: 60%;
		align-items: center;
	}

	.product-p1 {
		width: 100%;
		flex-direction: column;
		/*align-items: center;*/
	}
	
	.product-p1-detail {
		width: 100%;
		margin-left: 0;
		margin-top: 3%;
	}
	
	.product-p1 {
		width: 100%;
	}
	
	.product-p1-quantity {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.quantity-bar {
		width: 80%;
		justify-content: space-between;
		margin: 0;
	}	

	/*.quantity-bar-input {
		width: 100%;
	  height: 44px;
	  border: solid 1px #979797;
	  margin: 0;
	}*/

	.quantity-bar-span {
		width: 100%;
	  height: 44px;
	  border: solid 1px #979797;
	}

	.quantity-bar-minus {
		left: 5%;
	}

	.quantity-bar-puls {
		right: 5%;
	}

	.product-p2-title-separ {
		width: 70%;
	}

	.product-p2-img1-style {
		width: 100%;
	  height: 100%;
	}

	.product-p2-img2-style {
		width: 100%;
	  height: 100%;
	}
}

@media (max-width: 700px) {
	.product-area {
		margin-bottom: 30px; 
	}

	.product-area-80-box {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.product-p2-title-separ {
		width: 60%;
	}

	.quantity-title {
		display: none;
	}

	.quantity-bar {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.color-block {
		margin-left: 5px;
	}

	.size-circle-style {
		margin-left: 5px;
	}

}

@media (max-width: 360px) {
	.product-area {
		margin-top: 0;
	}

	.product-area-80 {
		width: 100%;
	}

	.product-area-80-box {
		width: 100%;
	}

	.product-p1-img {
		margin: 0;
	}
	
	.product-p1-detail {
		padding-left: 24px;
		padding-right: 24px;
	}

	.product-p2 {
		padding-left: 24px;
		padding-right: 24px;
	}
}
/*.product-area-80 {
		width: 85%;
	}*/


