* {
	font-family: NotoSansCJKtc;
}

.profile_container {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile_container_inner {
	width: 80%;
	min-height: 60vh;
	position: relative;
	flex-direction: column;
	display: flex;
}

.profile {
	width: 100%;
	min-height: 200px; 
	margin-top: 32px;
	display: flex;
	flex-direction: row;
}

.profile_left {
	padding-right: 32px;
}

.profile_left_picture {
	min-width: 200px;
	min-height: 200px;
}


/*if user not login yet*/
.profile_login {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	top: 40%;
}

.profile_login_button {
  font-family: NotoSansCJKtc;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  width: 50%;
  height: 60px;
  background-color: #000000;
  border: solid 1px #979797;
  align-self: center;
}

.profile_right {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile_right_name {
  font-size: 32px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.4px;
  text-align: left;
  color: #3f3a3a;
}

.profile_right_email {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  color: gray;
}

.order_row {
	width: 100%;
	min-height: 32vh;
	margin-top: 32px;
	/*border: 1px solid black;*/
}

.order_form_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}

.order_form_item1, .order_form_item2, .order_form_item3, .order_form_item4 {
	display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  font-stretch: condensed;
  letter-spacing: 1px;
  text-align: center;
  color: #3f3a3a;
}

.order_list_container {
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 24px;
}

.profile_right_logout {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
	width: 160px;
  height: 32px;
  background-color: #000000;
  border: solid 1px #979797;
  border-radius: 10px;
  padding-bottom: 4px;
  margin-top: 6px
}

.order_list, .order_date, .order_number, .order_product_num, .order_amount {
	font-size: 18px;
}

.order_list {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px 0;
}

.order_list:hover {
	background-color: #dcdcdc;
}

.order_date {
	text-align: center;
	width: 25%;
}

.order_number {
	text-align: center;
	width: 25%;
}

.order_product_num {
	text-align: center;
	width: 25%;
}

.order_amount {
	text-align: center;
	width: 25%;
}


/* ================================= 
  Media Queries
==================================== */

@media (max-width: 800px) {

	.order_form_item1, .order_form_item2, .order_form_item3, .order_form_item4 {
	  font-size: 16px;
	}

	.order_list, .order_date, .order_number, .order_product_num, .order_amount {
		font-size: 14px;
	}
}

@media (max-width: 600px) {

	.profile_container_inner {
		width: 90%;
	}

	.profile {
		width: auto;
		/*margin-top: 20px;*/
		flex-direction: column;
		align-items: center;
	}

	.profile_left {
		padding-right: 0;
	}

	.profile_left_picture {
		width: 150px;
		height: 150px;
	}

	.profile_right {
		padding-left: 20px;
	}

	.profile_right_name {
	  font-size: 24px;
	}

	.profile_right_email {
	  font-size: 20px;
	}

	.order_form_item1, .order_form_item2, .order_form_item3, .order_form_item4 {
	  font-size: 16px;
	}

	.order_list, .order_date, .order_number, .order_product_num, .order_amount {
		font-size: 14px;
	}
}


@media (max-width: 500px) {
	.profile_container_inner {
		width: 95%;
	}
}

@media (max-width: 400px) {

	.profile_right {
		padding-left: 20px;
	}

	.order_form_item1, .order_form_item2, .order_form_item3, .order_form_item4 {
	  font-size: 12px;
	}

	.order_list, .order_date, .order_number, .order_product_num, .order_amount {
		font-size: 8px;
	}

	.order_date, .order_number, .order_product_num, .order_amount {
		width: 33%;
	}

	.order_form_item3, .order_product_num {
		display: none;
	}
}















