.order_info {
	padding-top: 24px;
	padding-bottom: 40px;
  width: 100%;
}

.order_num {
	font-size: 30px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.4px;
  text-align: left;
  color: #3f3a3a;
  padding-bottom: 10px;
}

.order_date {
  width: 100%;
	font-size: 20px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  color: #3f3a3a;
  padding-bottom: 5px;
  border-bottom: 5px solid #3f3a3a;
}

.item-qty {
	text-align: center;
}

.warning-word {
	text-align: center;
	font-family: NotoSansCJKtc;
  font-size: 32px;
  color: #3f3a3a;
}